# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
venv/
env/
.env/

# PyTorch checkpoints
*.pt
*.pth
tmp/
checkpoints/
logs/
*.ckpt

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# data
*.csv
